{
            "*.ts": [
                "<%= linter %> --fix",
            ],
            <%= postprocessor %>
            <% if(useMd) { %>
            "*.md": [
                "markdownlint",
            ],
             <% } %>
            "*.json": [
                "jsonlint",
            ],
            "*.{js,ts,html,htm,md,svg,scss,css,sass,less}": [
                "prettier --write",
            ],
}
