{
            "*.{js,ts}": [
                "<%= linter %> --fix",
                "git add"
            ],
            "*.css": [
                "stylelint",
                "git add"
            ],
            <%= postprocessor %>
            <% if(useMd) { %>
            "*.md": [
                "markdownlint",
                "git add"
            ],
             <% } %>
            "*.json": [
                "jsonlint",
                "git add"
            ],
            "*.{js,ts,html,md,scss,css}": [
                "prettier --write",
                "git add"
            ],
}
